{% extends 'base.html' %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 mb-4">
                Rincian belanja: <b>{{ datas.belanja.nama }}</b> ({{ datas.belanja.keterangan }})
                <br>
                Sumber Dana:
                <b>{{ datas.belanja.sumber_dana.nama }}</b>
                <br>
                Jumlah:
                <b class="currency">{{ datas.belanja.sumber_dana.jumlah }}</b>
                <br>
                Total Belanja : 
                <b class="currency">{{ datas.belanja.total_belanja }}</b>
                <br>
                Sisa:
                <b class="currency">{{ datas.belanja.sumber_dana.sisa }}</b>
                <br>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 mb-4">
                <a class="btn btn-sm btn-warning float-left" href="{{ url_for('belanja') }}"><i
                        class="fas fa-arrow-left"></i> Kembali</a>
                <button class="btn btn-sm btn-success float-right" data-toggle="modal" data-target="#inputModal"><i
                        class="fas fa-plus"></i> Tambah</button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table id="pretty-table" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Name</th>
                            <th>Price(IDR)</th>
                            <th>Price(USD)</th>
                            <th>Amount</th>
                            <th>Description</th>
                            <th>Total(IDR)</th>
                            <th>Total(USD)</th>
                            <th>Created at</th>
                            <th>Updated at</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        {%for belanja_rinci in datas.belanjarinci %}
                        <tr>
                            <td>{{loop.index}}</td>
                            <td>{{belanja_rinci.nama_barang}}</span>
                            </td>
                            <td class="currency">{{belanja_rinci.harga}}</td>
                            <td>{{belanja_rinci.harga_usd}}</td>
                            <td>{{belanja_rinci.jumlah}}</td>
                            <td>{{belanja_rinci.keterangan}}</td>
                            <td class="currency">{{belanja_rinci.total}}</td>
                            <td>{{belanja_rinci.total_usd}}</td>
                            <td>{{belanja_rinci.created_at}}</td>
                            <td>{{belanja_rinci.updated_at}}</td>
                            <td>
                                <button type="button" title="Edit Data" class="btn-sm btn-primary btn-edit"
                                    data-link="{{ url_for('edit_belanja_rinci', belanja_rinci_id=belanja_rinci.id) }}">
                                    <i class="fas fa-edit"></i> </button>
                                <button type="button" title="Hapus Data" class="btn-sm btn-danger btn-delete"
                                    data-link="{{ url_for('delete_belanja_rinci', belanja_rinc_id=belanja_rinci.id) }}"
                                    data-id="{{ belanja_rinci.id }}"> <i class="fas fa-eraser"></i> </button>
                            </td>
                        </tr>
                        {% endfor %}

                    </tbody>
                    <tfoot>
                        <tr>
                            <th>No</th>
                            <th>Name</th>
                            <th>Price(IDR)</th>
                            <th>Price(USD)</th>
                            <th>Amount</th>
                            <th>Description</th>
                            <th>Total(IDR)</th>
                            <th>Total(USD)</th>
                            <th>Created at</th>
                            <th>Updated at</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- Modal -->
<div class="modal fade modal-input" id="inputModal" tabindex="-1" role="dialog" aria-labelledby="inputModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="inputModalLabel">Tambah Data Rincian Belanja</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Sumber Dana:
                <b>{{ datas.belanja.sumber_dana.nama }}</b>
                <br>
                Jumlah:
                <b class="currency">{{ datas.belanja.sumber_dana.jumlah }}</b>
                <br>
                Total Belanja : 
                <b class="currency">{{ datas.belanja.total_belanja }}</b>
                <br>
                Sisa:
                <b class="currency">{{ datas.belanja.sumber_dana.sisa }}</b>
                <br>
                <hr>
                <form action="{{ url_for('belanja_rinci', blj_id=datas.belanja.id) }}" method="post">
                    <div class="form-group">
                        <label for="nama_barang">Nama Barang</label>
                        <input type="text" class="form-control" id="nama_barang" name="nama_barang"
                            placeholder="Masukkan Nama Barang" required>
                    </div>
                    <div class="form-group">
                        <label for="harga">Harga</label>
                        <input type="number"   class="form-control currency" id="harga" name="harga"
                            placeholder="Masukkan Harga" step="any" required>
                    </div>
                    <div class="form-group">
                        <label for="jumlah">Jumlah</label>
                        <input type="number"   class="form-control amount" id="jumlah" name="jumlah"
                            placeholder="Masukkan Jumlah" required>
                    </div>
                    <div class="form-group">
                        <label for="keterangan">Keterangan</label>
                        <input type="text" class="form-control" id="keterangan" name="keterangan"
                            placeholder="Masukkan Keterangan">
                    </div>
                    <button type="submit" class="btn btn-primary float-right" data-saved="0">Simpan</button>
                    <button type="button" class="btn btn-danger float-right" data-dismiss="modal"
                        aria-label="Close">Tutup</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal-edit" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit Data Rincian Belanja</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Sumber Dana:
                <b>{{ datas.belanja.sumber_dana.nama }}</b>
                <br>
                Jumlah:
                <b class="currency">{{ datas.belanja.sumber_dana.jumlah }}</b>
                <br>
                Total Belanja : 
                <b class="currency">{{ datas.belanja.total_belanja }}</b>
                <br>
                Sisa:
                <b class="currency">{{ datas.belanja.sumber_dana.sisa }}</b>
                <br>
                <hr>
                <form action="{{ url_for('edit_belanja_rinci', belanja_rinci_id=datas.belanja.id) }}" method="post">
                    <div class="form-group">
                        <label for="nama_barang">Nama Barang</label>
                        <input type="text" class="form-control" id="edit-nama_barang" name="nama_barang"
                            placeholder="Masukkan Nama Barang" required>
                    </div>
                    <div class="form-group">
                        <label for="harga">Harga</label>
                        <input type="number"   class="form-control currency" id="edit-harga" name="harga"
                            placeholder="Masukkan Harga" step="any" required>
                    </div>
                    <div class="form-group">
                        <label for="jumlah">Jumlah</label>
                        <input type="number"   class="form-control amount" id="edit-jumlah" name="jumlah"
                            placeholder="Masukkan Jumlah" required>
                    </div>
                    <div class="form-group">
                        <label for="keterangan">Keterangan</label>
                        <input type="text" class="form-control" id="edit-keterangan" name="keterangan"
                            placeholder="Masukkan Keterangan">
                    </div>
                    <button type="submit" class="btn btn-primary float-right" data-saved="0">Simpan</button>
                    <button type="button" class="btn btn-danger float-right" data-dismiss="modal"
                        aria-label="Close">Tutup</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- end modal -->
{% endblock %}