{% extends 'base.html' %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 mb-4">
                Total Modal: <span class="currency">{{ total_modal_investor() }}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 mb-4">
                <button class="btn btn-sm btn-success float-right" data-toggle="modal" data-target="#inputModal"><i
                        class="fas fa-plus"></i> Tambah</button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table id="pretty-table" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Name</th>
                            <th>Amount(IDR)</th>
                            <th>Amount(USD)</th>
                            <th>Percentage</th>
                            <th>financier?</th>
                            <th>Description</th>
                            <th>Updated at</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for data in datas %}
                        <tr>
                            <td>{{loop.index}}</td>
                            <td>{{data.nama}}
                            </td>
                            <td><span class="currency">{{data.jumlah}}</span></td>
                            <td>{{data.jumlah_usd}}</td>
                            <td>{{ round(data.persentase, 2) }}%</td>
                            <td>{% if data.is_pemodal %} Yes {% else %} No {% endif %}</td>
                            <td>{{data.keterangan}}</td>
                            <td>{{data.updated_at}}</td>
                            <td><button type="button" title="Edit Data" class="btn-sm btn-primary btn-edit" data-link="{{ url_for('edit_modal', modal_id=data.id) }}"> <i class="fas fa-edit"></i> </button> 
                                <button type="button" title="Hapus Data" class="btn-sm btn-danger btn-delete" data-link="{{ url_for('delete_modal', modal_id=data.id) }}" data-id="{{ data.id }}"> <i class="fas fa-eraser"></i> </button></td>
                        </tr>
                        {% endfor %}

                    </tbody>
                    <tfoot>
                        <tr>
                            <th>No</th>
                            <th>Name</th>
                            <th>Amount(IDR)</th>
                            <th>Amount(USD)</th>
                            <th>Percentage</th>
                            <th>financier?</th>
                            <th>Description</th>
                            <th>Updated at</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- Modal -->
<div class="modal fade modal-input" id="inputModal" tabindex="-1" role="dialog" aria-labelledby="inputModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="inputModalLabel">Tambah Data Modal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/add_modal" , method="post">
                    <div class="form-group">
                        <label for="nama">Nama</label>
                        <input type="text" class="form-control" id="nama" name="nama" placeholder="Masukkan Nama"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="jumlah">Jumlah</label>
                        <input type="number" class="form-control currency" id="jumlah" name="jumlah"
                            placeholder="Masukkan Jumlah" required>
                    </div>
                    <div class="form-group">
                        <label for="keterangan">Keterangan</label>
                        <input type="text" class="form-control" id="keterangan" name="keterangan"
                            placeholder="Masukkan Keterangan" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="is_pemodal">Pemodal</label>
                        <input type="checkbox" class="form-control" id="is_pemodal" name="is_pemodal">
                    </div>

                    <button type="submit" class="btn btn-primary float-right" data-saved="0">Simpan</button>
                    <button type="button" class="btn btn-danger float-right" data-dismiss="modal" aria-label="Close">
                        Tutup
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal-edit" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit Data Modal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/edit_modal" , method="post">
                    <div class="form-group">
                        <label for="nama">Nama</label>
                        <input type="text" class="form-control" id="edit-nama" name="nama" placeholder="Masukkan Nama"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="jumlah">Jumlah</label>
                        <input type="number" class="form-control currency" id="edit-jumlah" name="jumlah"
                            placeholder="Masukkan Jumlah" required>
                    </div>
                    <div class="form-group">
                        <label for="keterangan">Keterangan</label>
                        <input type="text" class="form-control" id="edit-keterangan" name="keterangan"
                            placeholder="Masukkan Keterangan" required>
                    </div>
                    <div class="form-group">
                        <label for="edit-is_pemodal">Pemodal</label>
                        <input type="checkbox" class="form-control" id="edit-is_pemodal" name="is_pemodal">
                    </div>
                    <button type="submit" class="btn btn-primary float-right" data-saved="0">Simpan</button>
                    <button type="button" class="btn btn-danger float-right" data-dismiss="modal" aria-label="Close">
                        Tutup
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- end modal -->
{% endblock %}