{% extends 'base.html' %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 mb-4">
                <button class="btn btn-sm btn-success float-right" data-toggle="modal" data-target="#inputModal"><i
                        class="fas fa-plus"></i> Tambah</button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table id="pretty-table" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Name</th>
                            <th>price(IDR)</th>
                            <th>price(USD)</th>
                            <th>Amount</th>
                            <th>Sisa</th>
                            <th>Selling date</th>
                            <th>Description</th>
                            <th>Created at</th>
                            <th>Updated at</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for data in datas.jual %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ data.harga_jual.nama }}</td>
                                <td class="currency">{{ data.harga_jual.harga }}</td>
                                <td>{{ data.harga_jual.harga_usd }}</td>
                                <td>{{ round(data.jumlah_penjualan) }}<form method="POST" class="update_input" action="{{ url_for('update_jumlah_penjualan', penjualan_id=data.id) }}"><input class="form-control" type="number" style="max-width: 60px;" name="jumlah" value="{{ round(data.jumlah_penjualan) }}"></form></td>
                                <td class="{% if round(data.produksi.sisa) < 0 %} text-danger {% endif %}">{{ round(data.produksi.sisa) }}</td>
                                <td>{{ data.tanggal_penjualan }}</td>
                                <td>{{ data.keterangan }}</td>
                                <td>{{ data.created_at }}</td>
                                <td>{{ data.updated_at }}</td>
                                <td>
                                    <button type="button" title="Edit Data" class="btn-sm btn-primary btn-edit"
                                        data-link="{{ url_for('edit_penjualan', penjualan_id=data.id) }}">
                                        <i class="fas fa-edit"></i> </button>
                                    <button type="button" title="Hapus Data" class="btn-sm btn-danger btn-delete"
                                        data-link="{{ url_for('delete_penjualan', penjualan_id=data.id) }}"
                                        data-id="{{ data.id }}"> <i class="fas fa-eraser"></i> </button>
                                </td>
                            </tr>
                        {% endfor %}

                    </tbody>
                    <tfoot>
                        <tr>
                            <th>No</th>
                            <th>Name</th>
                            <th>price(IDR)</th>
                            <th>price(USD)</th>
                            <th>Amount</th>
                            <th>Sisa</th>
                            <th>Selling date</th>
                            <th>Description</th>
                            <th>Created at</th>
                            <th>Updated at</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- sumber_dana -->
<div class="modal fade modal-input" id="inputModal" tabindex="-1" role="dialog" aria-labelledby="inputModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="inputModalLabel">Tambah Data Penjualan</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/add_penjualan" , method="post">
                    <div class="form-group">
                        <label for="harga">Harga</label>
                        <select name="harga" id="harga" class="form-control">
                            {% for harga in datas.hargajual %}
                                <option value="{{harga.id}}" class="currency">{{ harga.nama }} - {{ harga.harga }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="produksi">Stock</label>
                        <select name="produksi" id="produksi" class="form-control">
                            {% for produksi in datas.produksi %}
                                <option value="{{produksi.id}}">{{ produksi.nama }} - {{ produksi.jumlah_produksi }} sisa {{ produksi.sisa }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="jumlah_penjualan">Jumlah Penjualan</label>
                        <input class="form-control" type="number" id="jumlah_penjualan" name="jumlah_penjualan">
                    </div>
                    <div class="form-group">
                        <label for="tanggal_penjualan">Tanggal Terjual</label>
                        <input type="date" class="form-control" id="tanggal_penjualan" name="tanggal_penjualan"
                        placeholder="Masukkan Nama" required value="{{ datetime.now().strftime('%Y-%m-%d') }}">
                    </div>
                    <div class="form-group">
                        <label for="keterangan">Keterangan</label>
                        <input type="text" class="form-control" id="keterangan" name="keterangan"
                        placeholder="Masukkan Keterangan" required>
                    </div>
                    <button type="submit" class="btn btn-primary float-right" data-saved="0">Simpan</button>
                    <button type="button" class="btn btn-danger float-right" data-dismiss="modal" aria-label="Close">
                        Tutup
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal-edit" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="editModalLabel">Edit Data Penjualan</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form action="/add_harga_jual" , method="post">
                <div class="form-group">
                    <label for="harga">Harga</label>
                    <select name="harga" id="edit-harga" class="form-control">
                        {% for harga in datas.hargajual %}
                        <option value="{{harga.id}}" class="currency">{{ harga.nama }} - {{ harga.harga }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="produksi">Stock</label>
                    <select name="produksi" id="edit-produksi" class="form-control">
                        {% for produksi in datas.produksi %}
                        <option value="{{produksi.id}}">{{ produksi.nama }} - {{ produksi.jumlah_produksi }} sisa {{ produksi.sisa }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="jumlah_penjualan">Jumlah Penjualan</label>
                    <input class="form-control" type="number" id="edit-jumlah_penjualan" name="jumlah_penjualan">
                </div>
                <div class="form-group">
                    <label for="tanggal_penjualan">Tanggal Terjual</label>
                    <input type="date" class="form-control" id="edit-tanggal_penjualan" name="tanggal_penjualan"
                    placeholder="Masukkan Nama" required>
                </div>
                <div class="form-group">
                    <label for="keterangan">Keterangan</label>
                    <input type="text" class="form-control" id="edit-keterangan" name="keterangan"
                            placeholder="Masukkan Keterangan" required>
                    </div>
                    <button type="submit" class="btn btn-primary float-right" data-saved="0">Simpan</button>
                    <button type="button" class="btn btn-danger float-right" data-dismiss="modal" aria-label="Close">
                        Tutup
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- end modal -->
{% endblock %}